manifest {
    name = "mbap-bacteria"
    author = "Thanh Le Viet"
    defaultBranch = "main"
    homePage = 'https://github.com/thanhleviet/mbap-bacteria'
    description = 'Just QC'
    mainScript = 'main.nf'
    version = '0.1.0'
}

docker {
    enabled = true
}

process {
    publishDir = [
        path: { "${params.outdir}" },
        mode: 'copy',
        saveAs: { filename -> filename }
    ]

    withLabel: no_publish {
        publishDir = [
            enabled: false
        ]
    }
}
